<!DOCTYPE html>
{% include '/inc/head.html' %}

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                        <p class="mb-4">비밀번호를 재설정 할 수 있습니다!</p>
                                    </div>
                                    <form class="user" onsubmit="return updatePassword();">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control form-control-user" name="email"
                                                placeholder="Email Address" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required>
                                            </div>
                                            <div class="col-auto">
                                                <input type="button" class="form-control form-control-user" id="emailCheckBtn"
                                                value="확인" onclick="emailCheck()">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                            name="password" placeholder="비밀번호" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" required> 
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                            name="repeatPassword" placeholder="비밀번호 확인" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" required> 
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="완료">
                                        <!-- <input type="submit" class="btn btn-primary btn-user btn-block" value="완료" onclick="return updatePassword();"> -->
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="register">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    
    {% include '/inc/plugin.html' %}
    <script src="../static/js/forgot_password.js"></script>

</body>